body {
  min-height: 2000px;
  padding-top: 70px;
}

.datatable {
  table-layout: fixed;
}

.table.pdfs td:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.table.tasks td:nth-child(4) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  padding: 4px 0px;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}