body {
  min-height: 2000px;
  padding-top: 70px;
}

.table {
  table-layout: fixed;
}

.table.pdfs td:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.table.tasks td:nth-child(4) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}